{{#if resume.certificates.length}}
<section id="certificates">
	<h2 class="text-2xl mt-6 pb-1 border-b font-bold">Certificates</h2>
	<ul class="mt-2 text-base">
		{{#each resume.certificates}}
		<li class="pt-2">
			<div class="flex flex-row justify-between">
				<div>
					{{#if name}}
					<strong>{{name}}</strong>
					{{/if}}
					{{#if issuer}}
                    <span class="ml-2">{{issuer}}</span>
                    {{/if}}
				</div>
				
				{{#if date}}
				<div>
					{{year date}}
				</div>
				{{/if}}
			</div>
		</li>
		{{/each}}
	</ul>
</section>
{{/if}}