{{#if resume.languages.length}}
<section id="languages">
	<h2 class="text-2xl mt-6 pb-1 border-b font-bold">Languages</h2>
	<div class="mt-2 flex flex-col">
	{{#each resume.languages}}
	<div class="flex flex-row pt-2 items-center">
		{{#if language}}
		<div class="basis-40">
			<strong>{{language}}</strong>
		</div>
		{{/if}}
		{{#if fluency}}
		<div>
			<em>{{fluency}}</em>
		</div>
		{{/if}}
	</div>
	{{/each}}
	</div>
</section>
{{/if}}